<div class="main-container">
<div class="logo">
  <img src="assets/main_logo_W.png" alt="Logo">
    <h1 style="color: white; padding-top: 10px"> Agile Market Minds</h1>
</div>
<div class="promo-container">
<nz-card class="registration-card">
  <div class="content">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
     <nz-form-item class="form-area">
        <nz-form-control [nzXs]="24" nzErrorTip="Введите свой адрес электронной почты">
          <nz-form-label class="label" [nzXs]="24" nzRequired nzFor="email" style="color: #3b0b0b">Электронная почта</nz-form-label>
          <input nz-input formControlName="email" id="email" placeholder="Введите почту" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-area">
        <nz-form-control  [nzXs]="24" nzErrorTip="Введите свой никнейм!">
          <nz-form-label
            [nzXs]="24"
            nzFor="nickname"
            nzRequired
            nzTooltipTitle="Как бы вы хотели, чтобы другие называли вас"
          >
            <span>Nickname</span>
          </nz-form-label>
          <input nz-input id="nickname" formControlName="nickname" placeholder="Введите имя"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-area">
        <nz-form-control [nzXs]="24" nzErrorTip="Введите свой пароль!">
          <nz-form-label  [nzXs]="24" nzFor="password" nzRequired>Пароль</nz-form-label>
          <input
            nz-input
            type="password"
            id="password"
            formControlName="password"
            (ngModelChange)="updateConfirmValidator()"
            placeholder="Введите пароль"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-area">
        <nz-form-control  [nzXs]="24" [nzErrorTip]="errorTpl">
          <nz-form-label [nzXs]="24" nzFor="checkPassword" nzRequired>Повторите пароль</nz-form-label>
          <input nz-input type="password" formControlName="checkPassword" id="checkPassword" placeholder="Повторите пароль"/>
          <ng-template #errorTpl let-control>
            @if (control.errors?.['required']) {
            Подтвердите свой пароль!
            }
            @if (control.errors?.['confirm']) {
            Два введенных вами пароля несовместимы!
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="24" >
          <label nz-checkbox formControlName="agree">
            <span style="   width: 100%;">
              Я согласен с Политикой конфиденциальности
            </span>
          </label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area" style="justify-content: center">
        <nz-form-control  [nzXs]="16" >
          <button style="width: 100%; padding-bottom: 16px;" nz-button >Зарегистрироваться</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <nz-divider style="background-color: #939395"></nz-divider>
  <p style="text-align: center"><a>Уже есть аккаунт?</a></p>
</nz-card>
</div>
</div>
