
.promo-container {
  display: flex;
  align-items: center;
  background: #151515;
  color: white;
  padding-left: 220px;
  padding-bottom: 174px;
  padding-right: 210px;
}

.content {
  margin-left: 200px;
  margin-right: 129px;
}

.promo-container .content {

  .form-area span{
    color: white;
  }
  button {
    color: white;
    border-radius: 20px;
    background-color: #359A81;
    border: 3px solid #359A81;
  }
}

.login-form-forgot {
  float: right;
}

.graf{
  width: 400px;
  height: 350px;
  border-radius: 50%;
}

.logo {
  align-items: center;
  background-color: #151515;
  display: flex;
  align-items: center;
  //padding: 30px 50px;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 220px;
  padding-right: 120px;
}

.logo img {
  height: 43px;
  width: 46px;
}

