.promo-container {
  padding-left: 510px;
  margin-top: -50px;
}

.main-container{
  width: 1528px;
  height: 100vh;
  background-color: #f0f2f5;
}

.registration-card {
  width: 500px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  background: #fff;
  border-radius: 4px;
}
.content {
  width: 400px;
}
.logo {
  align-items: center;
  background-color: #151515;
  display: flex;
  padding: 50px;
  justify-content: center;
}
.logo img {
  height: 43px;
  width: 46px;
}




