<nz-layout>
  <nz-header>
    <div class="logo">
      <img src="assets/main_logo_B.png" style="width: 40px;" />
      <span>Agile Market Minds</span>
    </div>
    <ul nz-menu nzTheme="light" nzMode="horizontal" class="header-menu">
      <li nz-menu-item>
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input [(ngModel)]="selectedTicker" placeholder="Enter Ticker" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </li>
      <li nz-menu-item class="date-time" style="margin-left: 650px; color:#45464f">
        {{ currentDateTime }}
      </li>
      <li nz-menu-item>
        <button mat-button class="logout-button" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item  routerLink="/main" routerLinkActive="nzSelected">
          <span style="padding-left: 25px">Диаграмма</span>
        </li>
        <li nz-menu-item nzSelected>
          <span style="padding-left: 25px">Анализ</span>
        </li>
        <li nz-menu-item>
          <span style="padding-left: 25px">Справочник</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <div class="stockinput">
        <input  class="item" nz-input [(ngModel)]="ticker1" placeholder="Введите тикер" />
        <nz-date-picker class="item" [(ngModel)]="startDate1" (ngModelChange)="startDate1 = formatDate($event, 'yyyy-MM-dd', 'en-US')" nzPlaceHolder="с" nzFormat="dd.MM.yyyy"></nz-date-picker>
        <nz-date-picker class="item" [(ngModel)]="endDate1" (ngModelChange)="endDate1 = formatDate($event, 'yyyy-MM-dd', 'en-US')" nzPlaceHolder="до" nzFormat="dd.MM.yyyy"></nz-date-picker>
        <button nz-button (click)="loadStockData1()">Load Data 1</button>
      </div>
      <div class="stockinput">
        <input  class="item" nz-input [(ngModel)]="ticker2" placeholder="Введите тикер" />
        <nz-date-picker class="item" [(ngModel)]="startDate2" (ngModelChange)="startDate2 = formatDate($event, 'yyyy-MM-dd', 'en-US')" nzPlaceHolder="с" nzFormat="dd.MM.yyyy"></nz-date-picker>
        <nz-date-picker class="item" [(ngModel)]="endDate2" (ngModelChange)="endDate2 = formatDate($event, 'yyyy-MM-dd', 'en-US')" nzPlaceHolder="до" nzFormat="dd.MM.yyyy"></nz-date-picker>
        <button nz-button (click)="loadStockData2()">Load Data 2</button>
      </div>
      <div class="plot-container">
        <plotly-plot [data]="graph1.data" [layout]="graph1.layout"></plotly-plot>
        <plotly-plot [data]="graph2.data" [layout]="graph2.layout"></plotly-plot>
      </div>
    </nz-layout>
  </nz-layout>
</nz-layout>
