<div class="header">
  <div class="logo">
    <img src="assets/logo2.jpg" alt="Logo" style="width: 90px;">
  </div>
  <ul class="nav">
    <li>О нас</li>
    <li>Связаться с нами</li>
    <li>Сервис</li>
    <li>Войти</li>
  </ul>
<!--  <button class="button">Войти</button>-->
  <button class="button" style="background-color: #359A81">Зарегистрироваться</button>
</div>


<nz-content>
  <div class="promo-container">
    <div class="circle-gradient">
      <img src="assets/logo2.jpg" class="smartphone-img" style="width: 450px">
    </div>
    <div class="content">
      <h1>Инвестируй вместе с Agile Market Minds!</h1>
      <p>Здесь, в M&A Analytics, мы предоставляем профессиональные и глубокие аналитические обзоры рынка акций и облигаций. Наша цель – помочь вам сделать обоснованные и эффективные инвестиционные решения.</p>
      <button class="button" style="background-color: #359A81">Попробовать</button>
    </div>
  </div>
</nz-content>

<nz-footer class="footer">
  <div class="footer-content">
    <nz-row>
      <nz-col nzSpan="8">
        <div class="footer-section">
          <h4>Разделы</h4>
          <ul>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Облигации</a></li>
          </ul>
        </div>
      </nz-col>
      <nz-col nzSpan="8">
        <div class="footer-section">
          <h4>Веб-сайт</h4>
          <ul>
            <li><a href="#">Вход</a></li>
            <li><a href="#">Вопрос-ответы</a></li>
          </ul>
        </div>
      </nz-col>
      <nz-col nzSpan="8">
        <div class="footer-section">
          <h4>О нас</h4>
          <ul>
            <li><a href="#">Связаться с нами</a></li>
            <li><a href="#">Условия использования</a></li>
          </ul>
        </div>
      </nz-col>
    </nz-row>
  </div>
  <nz-divider></nz-divider>
  <div class="footer-bottom">
    <p>© 2024 Все права защищены.</p>
    <p>Котировки в режиме реального времени предоставляются Alphavantage.</p>
  </div>
</nz-footer>

