<nz-header>
  <div class="header-logo">
      <img src="./assets/img.png" height="60" width="60">
        M&A Analytics
  </div>
  <ul nz-menu nzMode="horizontal" class="menu">
    <li nz-menu-item>
      Главная
    </li>
    <li nz-menu-item>
      О нас
    </li>
    <li nz-menu-item>
      Контакты
    </li>
  </ul>
</nz-header>
<nz-content>
    <div class="welcome-container">
      <h1>Добро пожаловать на M&A Analytics!</h1>
      <h2>Вашего надежного помощника в мире финансовых инвестиций!</h2>
      <p>Здесь, в M&A Analytics, мы предоставляем профессиональные и глубокие аналитические обзоры рынка акций и облигаций.
        Наша цель – помочь вам сделать обоснованные и эффективные инвестиционные решения.</p>
      <button nz-button  nzShape="round" >
        Попробовать
      </button>
    </div>

  <div class="content-section">
    <div>
    <p>Добро пожаловать в M&A Analytics — вашего надежного проводника в мире финансовых инвестиций.</p>
    <p>С нашей командой вы всегда будете в курсе актуальных событий на рынке акций и облигаций. </p>
    <p>Наша миссия — предоставлять вам точные данные для умных инвестиционных решений.</p>
    </div>

    <div>
    <p>У нас вы найдете:</p>
      <p>• Глубокий анализ и ежедневные рыночные обновления.</p>
      <p>• Персональные консультации и индивидуальные инвестиционные стратегии.</p>
      <p>• Непрерывное отслеживание рынка для предоставления самых свежих данных.</p>
      <p>• Достоверные прогнозы, основанные на продвинутых методах анализа.</p>

    <p>Присоединяйтесь к M&A Analytics и воспользуйтесь нашими услугами для
      достижения ваших инвестиционных целей. Свяжитесь с нами или подпишитесь, чтобы всегда быть в курсе важнейших рыночных новостей.
    </p>
    </div>
    <nz-divider></nz-divider>
  </div>
</nz-content>

<nz-footer class="footer">
  <div class="footer-content">
    <nz-row>
      <nz-col nzSpan="8">
        <div class="footer-section">
          <h4>Разделы</h4>
          <ul>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Облигации</a></li>
          </ul>
        </div>
      </nz-col>
      <nz-col nzSpan="8">
        <div class="footer-section">
          <h4>Веб-сайт</h4>
          <ul>
            <li><a href="#">Вход</a></li>
            <li><a href="#">Вопрос-ответы</a></li>
          </ul>
        </div>
      </nz-col>
      <nz-col nzSpan="8">
        <div class="footer-section">
          <h4>О нас</h4>
          <ul>
            <li><a href="#">Связаться с нами</a></li>
            <li><a href="#">Условия использования</a></li>
          </ul>
        </div>
      </nz-col>
    </nz-row>
  </div>
  <nz-divider></nz-divider>
  <div class="footer-bottom">
    <p>© 2024 Все права защищены.</p>
    <p>Котировки в режиме реального времени предоставляются Alphavantage.</p>
  </div>
</nz-footer>

