.logo {
  background: #ffffff;
  float: left;
  padding-left: 20px;
}

nz-header{
  background: #ffffff;
  padding-left: 0;
}
.sider-menu {
  height: 100%;
}

.inner-layout {
  padding: 24px 25px 180px 24px;
}

.second-content {
  margin-top: 20px;
}
.analyze-content{
  background:#ffffff;
  padding-left: 20px;
  border-radius: 10px;

  button{
    margin-right: 30px;
  }
}

.list{
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  width: 200px;

}

.graph{
  width: 200px;
  height: 100px;
}
.company-list{
  background:#ffffff;
  height: 450px;
  border-radius: 5px;
}
nz-layout{
  width:1528px;
  height: 678px;
}


.logout-button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  text-transform: none;
  color: inherit;
}

.logout-button mat-icon {
  margin-right: 4px;
}

.custom-input {
  border: none;
  outline: none;
}

.custom-input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.stock-input {
  flex-direction: row;
  margin-bottom: 20px;
}

.stockinput {
  flex-direction: row;
  margin-bottom: 20px;
}

.items{
  padding-top: 20px;
  padding-left: 70px;
  width: 350px;
}

.item{
  margin-right: 30px;
  width: 300px;
}

nz-date-picker{
  width: 280px;
}
button {
  align-self: center;
}

.logo-list {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.stock-info {
  display: flex;
  flex-direction: column;
}

.analyze-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.time-buttons {
  display: flex;
  gap: 10px;
}

.chart {
  margin-top: 20px;
}

.stock-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.top-section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stock-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex: 1 1 calc(25% - 20px);
  margin-bottom: 20px;
}
.top-section-carousel {
  width: 100%;
  overflow: hidden;
}
.stock-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  text-align: center;
}

.logo-carousel {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.stock-info {
  margin-top: 5px;
}

.stock-name {
  font-size: 10px;
  font-weight: bold;
}

.plot-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.plot-container plotly-plot {
  width: 48%;
  height: 400px;
}
