<nz-layout>
  <nz-header>
    <div class="logo">
      <img src="assets/main_logo_B.png" style="width: 40px;  "/>
      <span>Agile Market Minds</span>
    </div>
    <ul nz-menu nzTheme="light" nzMode="horizontal" class="header-menu">
      <li nz-menu-item >
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="Поиск различных акций" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </li>
<!--      <li nz-menu-item  class="avatar">-->
<!--        <nz-avatar nzText="U"></nz-avatar>-->
<!--        <span> User</span>-->
<!--      </li>-->
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="user" nzTitle="Бета версия">
          <ul>
            <li nz-menu-item>
              <div class="gradient-text"> Премиум версия</div>
            </li>
          </ul>
        </li>
        <li  nz-menu-item >
          <span style="padding-left: 25px">Диаграмма</span>
        </li>
        <li  nz-menu-item >
          <span style="padding-left: 25px">Анализ</span>
        </li>

      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">

      <div class="header-content">
        <ul class="stock-list-header">
          <li *ngFor="let stock of stocks">
<!--            main div-->
            <div nz-row [nzGutter]="24">
              <div>
                <img src = {{stock.icon}} style="width: 40px; height: 40px;"/>
                <span> {{stock.name}}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div nz-row class="second-content">
        <div nz-col nzSpan="15" class="analyze-content">
          <button nz-button nzType="default" nzShape="round">1 день</button>
          <button nz-button nzType="primary" nzShape="round">1 неделя</button>
          <button nz-button nzType="default" nzShape="round">1 месяц</button>
          <button nz-button nzType="default" nzShape="round">1 год</button>
            <mat-icon style="margin-left: 250px" (click)="showModal()">settings</mat-icon>
          <nz-modal
            [(nzVisible)]="isVisible"
            (nzOnCancel)="handleCancel()"
            nzTitle="Цены ЦБ в промежутке "
          >
            <div *nzModalFooter>
              <button nz-button nzType="default" (click)="handleCancel()">Отмена</button>
              <button nz-button nzType="primary" (click)="handleOk()"   [nzLoading]="isOkLoading">Загрузить данные</button>
            </div>
            <ng-container *nzModalContent>
              <div class="stock-input">

                <div class="items">
                  <input nz-input [(ngModel)]="ticker" placeholder="Введите тикер">
                </div>
                <div class="items">
                  <nz-date-picker [(ngModel)]="startDate"   (ngModelChange)="startDate = formatDate($event, 'yyyy-MM-dd', 'en-US')"
                                  nzPlaceHolder="с" nzFormat="dd.MM.yyyy"></nz-date-picker>
<!--                  <input [(ngModel)]="startDate" type="date">-->
                </div>
                <div class="items">
                  <nz-date-picker [(ngModel)]="endDate"  nzPlaceHolder="до" nzFormat="dd.MM.yyyy" ></nz-date-picker>
<!--                  <input [(ngModel)]="endDate" type="date">-->
                </div>
                <div>
                  <button (click)="loadStockData()">Load Data</button>
                </div>

              </div>
            </ng-container>
          </nz-modal>

          <div>
            <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
          </div>
        </div>

        <div nz-col nzSpan="6" nzOffset="3" class="company-list">
          <div class="stock-list-container">
          </div>
        </div>
      </div>
    </nz-layout>
  </nz-layout>
</nz-layout>
